<header>
    <div class="wrapper">
        <div class="header">
            <h1 class="logo">Recipe<span class="logo-second-half">Hub</span></h1>
            <a href="" class="headerPage">Home</a>
            <a href="" class="headerPage">Categories</a>
            <a href="" class="headerPage">Add Recipe</a>
            <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="search" name="search" type="text" placeholder="Search Recipes">
            </div>
            <%- include('./icon.ejs') %>
                <div class="burger-wrapper">
                    <i class="fa-solid fa-bars"></i>
                </div>
        </div>
    </div>
</header>