<header>
    <div class="wrapper">
        <div class="header">
            <h1 class="logo">Recipe<span class="logo-second-half">Hub</span></h1>
            <div active="<%= pag=='home' %>" class="nav-wrapper"><a href="/" class="headerPage">Home</a></div>
            <div active="<%= pag=='categories' %>" class="nav-wrapper"><a href="/categories"
                    class="headerPage">Categories</a></div>
            <div active="<%= pag=='create' %>" class="nav-wrapper"><a href="/create" class="headerPage">Add Recipe</a>
            </div>
            <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="search" name="search" type="text" placeholder="Search Recipes">
            </div>
            <%- include('./icon.ejs') %>
                <div class="burger-wrapper">
                    <i class="fa-solid fa-bars"></i>
                </div>
        </div>
    </div>
</header>