<link rel="stylesheet" href="/categories.css">
<script src="/categories.js" defer></script>

<section>
    <div class="wrapper">
        <h1 class="section-title">Browse Categories</h1>
        <div class="categories-grid">
            <% categories.forEach(element=> { %>
                <div data-id="<%= element.id %>" onclick="redirectSingleCategoryPage(this)" class="category-card">
                    <img class='category-image' src=<%=element.category_image %>
                    alt="">
                    <div class="category-name-container">
                        <p class="category-name">
                            <%= element.category_name %>
                        </p>
                    </div>
                </div>

                <% }) %>
        </div>

    </div>

</section>