<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="normal.css">
    <link rel="stylesheet" href="categories.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="icon.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section>
            <div class="wrapper">
                <h1 class="section-title">Browse Categories</h1>
                <div class="categories-grid">


                    <div class="category-card">
                        <img class='category-image'
                            src="https://www.recipetineats.com/tachyon/2023/10/Penne-Arrabbiata-4.jpg?resize=500%2C500"
                            alt="">
                        <div class="category-name-container">
                            <p class="category-name"> pasta</p>
                        </div>
                    </div>

                    <div class="category-card">
                        <img class='category-image'
                            src="https://media.istockphoto.com/id/533645537/photo/breakfast-with-bacon-eggs-pancakes-and-toast.jpg?s=612x612&w=0&k=20&c=TumrEwImmLi4TIVeirgynvTpHhyvt9LeiDXLci45NWg="
                            alt="">
                        <div class="category-name-container">
                            <p class="category-name">Breakfast</p>
                        </div>
                    </div>


                </div>

            </div>


        </section>




</body>

</html>