<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normal.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/icon.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/categories.css">
    <script src="/categories.js" defer></script>
</head>

<body>
    <%- include('partials/header.ejs',{page:'categories'}) %>
        <section>
            <div class="wrapper">
                <h1 class="section-title">Browse Categories</h1>
                <div class="categories-grid">

                    <% categories.forEach(element=> { %>
                        <div data-id="<%= element.id %>" onclick="redirectSingleCategoryPage(this)"
                            class="category-card">
                            <img class='category-image' src=<%=element.category_image %>
                            alt="">
                            <div class="category-name-container">
                                <p class="category-name">
                                    <%= element.category_name %>
                                </p>
                            </div>
                        </div>


                        <% }) %>



                </div>

            </div>


        </section>




</body>

</html>