/* -------------------------------- start of trendy sction */

.section-title {
    padding: 30px 0;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
}

.recipe-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 15px 25px var(--light-beige);
    padding-bottom: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.01);
}

.recipe-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.recipe-info .user-wrapper {
    width: 35px;
    height: 35px;
}

.recipe-info .fa-user {
    font-size: 20px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}

.recipe-name {
    font-size: var(--xxl);
    font-weight: bolder;
    padding-inline: 20px;
    padding-block: 20px;
}

@media screen and (width <660px) {
    .recipes-grid {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-name {
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 1.6rem;
    }
}