/* -------------------------------- start of categories sction */

.section-title {
    padding: 30px 0;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
}

.category-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 15px 25px var(--light-beige);
    text-align: center;
    cursor: pointer;
}

.category-image {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
    grid-row: span 2;
}


.category-name-container {
    background-color: rgba(0, 0, 0, 0.644);
    padding-block: 15px;
}

.category-name {
    font-size: 1.8rem;
    padding: 10px 8px;
    color: white;
}

@media screen and (width <660px) {
    .categories-grid {
        grid-template-columns: 1fr 1fr;
    }

    .category-name {
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 1.6rem;
    }
}