* {
    color: #3C221A;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-beige: #FBE8C9;
    --dark-beige: #F3C596;
    --brown: #3C221A;
    --brown-border: #3c221a69;
    --xxl: 1.8rem;
    --xl: 1.5rem;
    --l: 1.2rem;
    --m: 1rem;
}

body {
    background-color: #f0f0f0;
}

.wrapper {
    margin: auto;
    width: min(1280px, 98%);
}