.main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

section {

    margin-top: 20px;

}

.name-time-wrapper {
    display: flex;
    justify-content: space-between;
}

.user-info-wrapper {
    margin-top: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-info-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

ul {
    margin-left: 10px;
    font-size: 1.3rem;
    list-style-type: disc;
    list-style-position: inside;
}

.ingredients-title {
    margin-bottom: 10px;
}

.instructions-text {
    font-size: 1.3em;
    white-space: pre-line;
    padding: 0;
    margin: 0;
}